body{
  display: flex;
  justify-content: center;
}

#bg {
  position: relative;
  width: 800px;
  height: 600px; 
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  
}

.hero {
  width: 36px;
  height: 54px;
  background: url('images/hero.png');
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0px 0px;
  
}

.ghost {
  width: 45px;
  height: 54px;
  background: url('images/enemy.png');
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0px 0px;
  top: 0px;
}